@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 120 100% 98%;
    --foreground: 120 27% 19%;

    --card: 120 100% 98%;
    --card-foreground: 120 27% 19%;

    --popover: 120 100% 98%;
    --popover-foreground: 120 27% 19%;

    --primary: 120 40% 50%;
    --primary-foreground: 120 100% 98%;

    --secondary: 120 40% 70%;
    --secondary-foreground: 120 27% 19%;

    --muted: 120 40% 70%;
    --muted-foreground: 120 27% 19%;

    --accent: 120 40% 70%;
    --accent-foreground: 120 27% 19%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 120 100% 98%;

    --border: 120 40% 70%;
    --input: 120 40% 70%;
    --ring: 120 27% 19%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 120 27% 19%;
    --foreground: 120 100% 98%;

    --card: 120 27% 19%;
    --card-foreground: 120 100% 98%;

    --popover: 120 27% 19%;
    --popover-foreground: 120 100% 98%;

    --primary: 120 100% 98%;
    --primary-foreground: 120 40% 50%;

    --secondary: 120 32.6% 17.5%;
    --secondary-foreground: 120 100% 98%;

    --muted: 120 32.6% 17.5%;
    --muted-foreground: 120 100% 98%;

    --accent: 120 32.6% 17.5%;
    --accent-foreground: 120 100% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 120 100% 98%;

    --border: 120 32.6% 17.5%;
    --input: 120 32.6% 17.5%;
    --ring: 120 100% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: url('/tree-outline.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}